.parallax-container {
	height: 500px;

	@media #{$small-and-down} {
		height: auto;
	}

	&.footer {
		height: 200px;
	}

	.parallax {
		img {
			-ms-filter: blur(4px);
			-webkit-filter: blur(4px);
			filter: blur(4px);
		}
	}
}


.hero {
	margin: 0 22%;
	padding: 16px;
	position: absolute;
	top: 188px;
	color: #fff;

	@media #{$small-and-down} {
		top: 10px;
		margin: 0 20%;
	}

	.hero-title {
		font-family: 'Mountains of Christmas', cursive;
		color: #fff;
		font-size: 6rem;
		font-weight: 200;

		@media #{$small-and-down} {
			font-size: 3rem;
			font-weight: 200;
		}
	}

	.hero-intro {
		color: #fff;
		font-size: 1.2rem;
		font-weight: 200;

		@media #{$small-and-down} {
			display: none;
		}
	}
}

.card {
	@extend .z-depth-2;
	-webkit-transition: box-shadow .5s linear;
	-moz-transition: box-shadow .5s linear;
	-ms-transition: box-shadow .5s linear;
	-o-transition: box-shadow .5s linear;
	transition: box-shadow .5s linear;
	margin-bottom: 25px;

	.card-content {
		min-height: 120px;

		.card-link {
			margin-top: 20px;

			a:hover {
				text-decoration:  underline;
			}
		}

		@media #{$small-and-down} {
			min-height: 100px;
		}
	}

	.card-image {

		img	{
			z-index: 0;
		}

		span.blur {
			right: 0;
			background-color: rgba(0, 0, 0, 0.3);
			color: #fff;
			font-weight: 300;
			bottom: 6px;
		}
	}

	.card-action.secondary-content {
		border-top: 0;
		padding-bottom: 10px;

		> .card-link {
			margin-bottom: 0;
		}
	}
}

.disabled {
	-ms-filter: grayscale(1) blur(2px);
	-webkit-filter: grayscale(1) blur(2px);
	filter: grayscale(1) blur(2px);
}

.modal {

	&-emphasis {
		@extend .orange-text, .lighten-5;
	}

	.btn-flat {
		text-decoration: underline;
	}

}

[for="show-available-gift-checkbox"] {
	color: #000;
}

.sticker {
	height: 50px;
	width: 50px;
	position: absolute;
	border-radius: 300px;
	top: 10px;
	left: 10px;
	text-align: center;
	line-height: 50px;
	background-color: #43A9DD;
	color: white;
	transform: rotate(-30deg);
}
