.parallax-container {
	height: 500px;

	@media #{$small-and-down} {
		height: auto;
	}

	&.footer {
		height: 200px;
	}
}

.card {
	-webkit-transition: box-shadow .5s linear;
	-moz-transition: box-shadow .5s linear;
	-ms-transition: box-shadow .5s linear;
	-o-transition: box-shadow .5s linear;
	transition: box-shadow .5s linear;
	margin-bottom: 25px;

	.card-content {
		min-height: 160px;

		.card-link {
			margin-top: 20px;

			a:hover {
				text-decoration:  underline;
			}
		}

		&.disabled {
			-ms-filter: grayscale(1) blur(2px);
			-webkit-filter: grayscale(1) blur(2px);
			filter: grayscale(1) blur(2px);
		}

		@media #{$small-and-down} {
			min-height: 100px;
		}
	}

	.card-image {
		&.disabled {
			-ms-filter: grayscale(1) blur(2px);
			-webkit-filter: grayscale(1) blur(2px);
			filter: grayscale(1) blur(2px);
		}

		img	{
			z-index: 0;
		}

		span.blur {
			right: 0;
			background-color: rgba(0, 0, 0, 0.3);
			color: #fff;
			font-weight: 300;
			bottom: 6px;
		}
	}

	&:hover {
		@extend .z-depth-3
	}
}

.modal {

	&-emphasis {
		@extend .orange-text, .lighten-5;
	}

	.btn-flat {
		text-decoration: underline;
	}

}
