<!DOCTYPE html>
<html ng-app="liste-noel">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>liste-noel</title>
	<link href='http://fonts.googleapis.com/css?family=Mountains+of+Christmas' rel='stylesheet' type='text/css'>
	<!-- build:css css/liste-noel.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<link rel="stylesheet" href="vendor/materialize/bin/materialize.css"/>
	<link rel="stylesheet" href="css/app.css"/>
	<!-- endbuild -->
</head>
<body ng-controller="mainController as main">

<div class="parallax-container">
	<div class="parallax"><img src="img/noel-clavier.jpg"></div>
	<div class="hero">
		<h1 class="hero-title">La liste de Thierry</h1>

		<p class="hero-intro">
			Le site de ceux qui veulent des idées de cadeaux de Noël pour moi
		</p>
	</div>
</div>
<div class="section white">
	<div class="row container">
		<div class="col">
			<input type="checkbox" id="show-available-gift-checkbox" ng-model="filterByNotBought"/>
			<label class="black-text" for="show-available-gift-checkbox">N'afficher que les cadeaux non offerts</label>
		</div>
	</div>
	<div class="row container">
		<div class="col m5 l4" ng-repeat="gift in main.gifts | filter:main.filterByBoughtOrNot(filterByNotBought)">
			<div class="card">
				<div class="card-image" ng-class="{'disabled' : gift.bought}">
					<img ng-src="{{gift.picture | default:'img/default-gift.jpg'}}">
					<div class="sticker" ng-show="gift.remaining">{{gift.remaining}} €</div>
					<span class="card-title" ng-class="{'blur' : gift.name}">{{gift.name}}</span>
				</div>
				<div class="card-content" ng-class="{'disabled' : gift.bought}">
					<p>{{gift.desc}}</p>
				</div>
				<div class="card-action secondary-content" ng-class="{'disabled' : gift.bought}">
					<p class="card-link"><a class="blue-text" ng-href="{{gift.link}}">Où je peux l'acheter ?</a></p>
				</div>
				<div class="card-action" ng-switch="gift.bought">
					<span ng-switch-when="true" class="green-text">Ce cadeau a été offert</span>

					<div ng-switch-when="false">
						<div ng-hide="gift.multiple">
							<modal
								id="buy-modal{{$index}}"
								ng-show="gift.remaining === gift.price"
								href="#buy-modal"
								ng-click="main.gift = gift;"
								value="J'offre">
							</modal>
							<modal
								id="participate-modal{{$index}}"
								href="#participate-modal"
								ng-click="main.gift = gift;"
								value="J'y participe"></modal>
						</div>
						<div ng-show="gift.multiple">
							Peut être offert plusieurs fois.
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>

	<div id="participate-modal" class="modal">
		<h4>Participation</h4>

		<p>Le cadeau <span class="modal-emphasis">{{main.gift.name}}</span> coûte <span class="amount red-text">{{ main.gift.price }}€.</span>
			<span ng-show="(main.gift.price - main.gift.remaining) === 0">Personne n'a encore participé.</span>
			<span ng-show="(main.gift.price - main.gift.remaining) > 0">Il y a une participation totale de <span
				class="amount blue-text">{{ (main.gift.price - main.gift.remaining) }}€</span>.</span>
		</p>

		<p>Vous pouvez donc contribuer jusqu'à <span class="amount green-text">{{ main.gift.remaining }}€</span>.</p>

		<p>Je souhaite participer à hauteur de :</p>

		<form novalidate name="contributeForm">
			<div class="input-field">
				<input id="amount" name="amount" type="text" required ng-model="main.participation" autofocus
					   ng-pattern="/^[0-9]{1,7}/">
				<label for="amount">Montant de la participation (€)</label>
				<span class="red-text" ng-show="contributeForm.amount.$error.pattern || main.showMaxError">Veuillez saisir un montant inférieur à {{ main.gift.remaining }}€</span>
				<span class="red-text" ng-show="contributeForm.$dirty && contributeForm.amount.$error.required">N'oubliez pas de saisir le
					montant de votre participation</span>
			</div>
			<button class="waves-effect waves-light btn modal-close" ng-click="main.confirmParticipation()"
			   ng-disabled="contributeForm.$invalid">Je participe</button>
			<a href="" class="waves-effect btn-flat modal-close">Annuler</a>
		</form>

	</div>


	<div id="buy-modal" class="modal">
		<h4>J'offre</h4>

		<p>Etes-vous sur de vouloir réserver et m'offrir <span class="modal-emphasis">{{main.gift.name | default:"ce cadeau"}}</span>. Si c'est le cas,
			d'autres personnes ne pourront plus me l'offrir.</p>
		<a href="" class="waves-effect green waves-light btn modal-close" ng-click="main.confirmBuy();">Oui, je te
			l'offre</a>
		<a href="" class="waves-effect btn-flat modal-close">Non, je vais y réfléchir</a>
	</div>

	<div id="thank-you-modal" class="modal">
		<h4>Merci</h4>
		<p>Wouah ! Merci beaucoup :)</p>
		<a href="#" class="waves-effect btn-flat modal-close">Fermer</a>
	</div>

</div>

<div class="parallax-container footer">
	<div class="parallax"><img src="img/noel-boules.jpg"></div>
</div>
	<!-- build:js js/liste-noel.js -->
	<!-- bower:js -->
	<script src="vendor/jquery/dist/jquery.js"></script>
	<script src="vendor/materialize/bin/materialize.js"></script>
	<script src="vendor/angular/angular.js"></script>
	<script src="vendor/firebase/firebase.js"></script>
	<script src="vendor/angularfire/dist/angularfire.js"></script>
	<!-- endbower -->
	<script type="text/javascript" src="js/app.js"></script>
	<script src="js/filters/default.js"></script>
	<script type="text/javascript" src="js/controllers/mainController.js"></script>
	<script src="js/directives/modal/modal.js"></script>
	<script src="js/services/firebaseRef.js"></script>
	<script src="js/services/giftService.js"></script>
	<script src="js/services/logService.js"></script>
	<!-- endbuild -->

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-57747018-1', 'auto');
		ga('send', 'pageview');

	</script>

</body>
</html>
